include ../text_field/text_field.pug

append styles
  link(rel="stylesheet", href="../../../components/datefield/datefield.scss")
append skripts__defer
  script(defer src="../../../components/datefield/datefield.js")

append mixins
  mixin datefield(options)
    -
      if (!options)
      options = {}

      let classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' datefield-' + options.mod : ''

      var attributes = {};

    if options.field_free
      div()&attributes(attributes)
    else if !options.range_divided_fields
      +text_field({placeholder:'placeholder'})
    else
      div(class=classes)
        +text_field({class:'alt_class', placeholder:'placeholder'})
        +text_field()
