@use 'sass:map';
@import '../global_mixins/global_mixins';

.dropdown{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;

  flex-direction: column;
  border: 1px solid map.get($color, 'shade-50');
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 7px 7px 7px 15px ;
  background: white;

  &:hover,&-visible{
    display: flex;
  }
  &__item:nth-child(n+2){
    margin-top: 7px;
  }
  &__buttons{
    margin-top: 18px;
    @extend %flex-justify-between;
  }
}
