include ../counting/counting.pug
include ../button/button.pug

append styles
  link(rel="stylesheet", href="../../../components/dropdown/dropdown.scss")
append skripts__defer
  script(type='module', src="../../../components/dropdown/dropdown.js")

append mixins
  mixin dropdown(options = {})
    -
      options.class = options.class ? options.class : '';
      options.class += options.mod ? ` dropdown-${options.mod} ` : '';
      const mod = options.mod ? `${options.mod}` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : '';
      delete options.block_class;

      items = options.items ? options.items : [];
      delete options.items;
      buttons = options.buttons && options.buttons != 'false' ? true : false;
      delete options.buttons;

      options.class += ` dropdown `;

    //-
        flex column; потому все элементы столбца должны быть на одном уровне.
        а дополнительный div.dropdown__item для генерации отступов между counting
    form()&attributes(options)&attributes(attributes)
      each item in items
        .dropdown__item
          +counting(item)
      if buttons
        div(class='dropdown__buttons')
          +button({type: 'reset', mod: 'hover', text: 'очистить'})
          +button({type: 'submit', mod: 'frameless', text: 'применить'})