@use 'sass:map';
@import '../global_mixins/global_mixins';

.counting{
  $button_size: 30px;
  min-width: 200px;
  @extend %flex-justify-between;
  background-color: map_get($color, 'background');
  &__counter{
    margin-left: $button_size * (2 / 3);
    @extend %not_select;
    @extend %flex-justify-between;
  }
  &__iterator{
    -moz-appearance: textfield ;
    -webkit-appearance: textfield ;
    appearance: textfield ;

    border: none;
    background-color: map_get($color, 'background');
    text-align: center;
  }
  &__button {
    -moz-appearance: none ;
    -webkit-appearance: none ;
    appearance: none ;
    background-color: map_get($color, 'background');


    box-sizing: border-box;
    width: $button_size;
    height: $button_size;
    border:1px solid map_get($color, 'shade-25');
    color: map_get($color, 'shade-50');
    border-radius: $button_size / 2;
    @extend %pointer;
    @extend %flex-justify-center;
    &:disabled{
      border-color: map_get($color, 'shade-5');
      color: map_get($color, 'shade-25');
    }
  }
}