append styles
  link(rel="stylesheet", href="../../../components/counting/counting.scss")
append skripts__defer
  script(defer src="../../../components/counting/counting.js")

append mixins
  mixin counting(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' counting-' + options.mod : ''

    div(class='counting font-upper flex flex-justify-between')
      span(class='counting__title')=(options.title ? options.title : 'items')
      span(class='counting__counter flex flex-justify-between')
        span(class='counting__button counting__dec font-regular flex flex-justify-center')='-'
        span(class='counting__iterator')='0'
        span(class='counting__button counting__inc font-regular flex flex-justify-center')='+'