@use 'sass:map';
@import '../global_mixins/global_mixins';

.bullet_list{
  @extend %not_select;
  -moz-appearance: none ;
  -webkit-appearance: none ;
  appearance: none ;
  border: none;
  background-color: transparent;
  box-sizing: border-box;

  margin-left: 2ch;
  padding: 0;

  list-style-image: none;
  list-style-type: circle;
  list-style-position: outside;
}