@use 'sass:map';
@import '../global_mixins/global_mixins';

.bullet_list{
  @extend %not_select;
  -moz-appearance: none ;
  -webkit-appearance: none ;
  appearance: none ;
  border: none;
  background-color: transparent;
  box-sizing: border-box;

  // margin-left: 2rem;
  padding: 0;

  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  &__item{
    &:nth-child(n+2){
      margin-top: 1rem;
    }
    &::before{
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50vh;
      background-color: map.get($color, 'shade-25');
      margin-right: 1rem;
    }
  }
}
