extends ../../../pages/base/base_test.pug

include ../list.pug

block header
block title
  title='test list'
append main
  mixin test(options)
    +base_test__test('list',options)
  -
    const settings = {
      items:[
        [

          ],
        [
          {
            text:'1',
            name:'1',
          },
        ],
        [
          {
            text:'1',
            name:'1',
          },
          {
            text:'2',
            name:'2',
          },
          {
            text:'3',
            name:'3',
          },
          {
            text:'4',
            name:'4',
          },
        ],
      ],
      title:[
        'asd',
        'asddsfgosdhofoo dfuy pgiousdhfpiu sgh[poidfhpgohpaoufgh[pasoidf hg[oishdpouayh[osd ih[oagui h[osdfi a[oih[fds[giojh[adfih g[dioapjfnkidafo giha[df',
      ],
    }

  h2='start autotest'
  br

  +base_test__mass_test('list',settings)

  br
  h2='end autotest'
  br
