extends ../../../pages/base/base_test.pug

include ../dropdown.pug

block header
block title
  title='test dropdown'
append main
  mixin test(options)
    +base_test__test('dropdown',options)

  +test()
  +test({})
  +test({mod:'visible',})
  +test({mod:'visible',
    items:[
      {
        title:'1',
        name:'1',
      },
      {
        title:'2',
        name:'2',
      },
      {
        title:'3',
        name:'3',
      },
      {
        title:'4',
        name:'4',
      },

    ],
  })