append styles
  link(rel="stylesheet", href="../../../components/radio/radio.scss")

append mixins
  mixin radio(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' radio-' + options.mod : ''

    .radio(class=classes)
      label(class='radio__container')
        input(class='radio__input', name=(options.name ? options.name : 'NOTHING'),
              type='radio', checked=false)
        .radio__box
          .radio__mark
        span(class='radio__text')=options.text ? options.text : 'SET text'