@use 'sass:map';
@import '../global_mixins/global_mixins';

.radio{

  @extend %not_select_and_pointer;

  &__container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    color: map.get($color, 'shade-50');
    font: map.get($font, 'regular');
  }
  &__box{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid map.get($color, 'shade-25');
    border-radius: 50%;
    margin-right: 0.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: map.get($timer, 'secondary-slow');
  }
  &__mark {
    user-select: none;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: map.get($color, 'main');
    background: map.get($gradient, 'main');
    opacity: 0;
    //visibility: hidden;
    transition: map.get($timer, 'main-slow') opacity;

  }
  &__input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked{
      ~ .radio__text{

      }
      ~ .radio__box{
        border-color: map.get($color, 'main');
        transition: map.get($timer, 'secondary-fast');
        .radio__mark{
          opacity: 1;
          //visibility: visible;
          transition: map.get($timer, 'main-fast') opacity;
        }
      }
    }
  }
}