extends ../../../pages/base/base_test.pug

include ../pagination.pug

block header
block title
  title='test pagination'
append main
  mixin test(options)
    +base_test__test('pagination',options)

  +test()
  +test({})