extends ../../../pages/base/base_test.pug

include ../datefield.pug

block header
block title
  title='test datefield'
append main
  mixin test(options)
    +base_test__test('datefield',options)

  +test()
  +test({})