@use 'sass:map';
@import '../global_mixins/global_mixins';

.button{
  @extend %not_select_and_pointer;
  @extend %flex-justify-around;

  -moz-appearance: none ;
  -webkit-appearance: none ;
  appearance: none ;
  border: none;
  background-color: transparent;
  border-radius: 10000px;
  box-sizing: border-box;
  align-items: stretch;
  align-content: stretch;
  // width: 200px;
  &-hover{
    color: map.get($color, 'shade-50');
  }
  &__border_creator{
    @extend %flex-justify-around;
    width: 100%;
    border-radius: 10000px;
    background-color: map.get($color, 'contrast_with_colored');
  }

  &__background{
    &-main{
      background: map.get($gradient, 'main');
      &:hover, &.button-hover{
        background: map.get($gradient, 'main-opacity');
      }
    }
    &-secondary{
      background: map.get($gradient, 'secondary');
      &:hover, &.button-hover{
        background: map.get($gradient, 'secondary-opacity');
      }
    }
  }
  &__text{
    &-main{
      color: map.get($color, 'main');
    }
    &-secondary{
      color: map.get($color, 'secondary');
    }
    &-contrast{
      color: map.get($color, 'contrast_with_colored');
    }
    &-hovereble:hover, &-hovereble.button-hover{
      color: map.get($color, 'shade-50');
    }
  }

  &__text{
    @extend %flex;
  }
  &__left_arrow{
    @extend %flex;
  }
  &__right_arrow{
    @extend %flex;
  }
  &-colored, &-transparent{
    padding: 5px;
    min-width: 44px;
    min-height: 44px;
    width: calc(max-content + 200px);
  }
  &-transparent{
  }
  &-frameless{
  }
}