@use 'sass:map';
@import '../global_mixins/global_mixins';

.button{
  @extend %not_select_and_pointer;
  @extend %flex-justify-around;
  border-radius: 10000px;
  min-width: 24px;
  min-height: 24px;
  align-items: stretch;
  align-content: stretch;
  &-hover{
    color: map.get($color, 'shade-50');
  }
  &__border_creator{
    @extend %flex-justify-around;
    margin: 2px;
    border-radius: 10000px;
    background-color: map.get($color, 'contrast_with_colored');
  }

  &__background{
    &-main{
      background: map.get($gradient, 'main');
      &:hover, &.button-hover{
        background: map.get($gradient, 'main-opacity');
      }
    }
    &-secondary{
      background: map.get($gradient, 'secondary');
      &:hover, &.button-hover{
        background: map.get($gradient, 'secondary-opacity');
      }
    }
  }
  &__text{
    &-main{
      color: map.get($color, 'main');
    }
    &-secondary{
      color: map.get($color, 'secondary');
    }
    &-contrast{
      color: map.get($color, 'contrast_with_colored');
    }
    &-hovereble:hover, &-hovereble.button-hover{
      color: map.get($color, 'shade-50');
    }
  }

  &__text{
    @extend %flex;
    margin: 0 1em 0 1em;
  }
  &__left_arrow{
    @extend %flex;
  }
  &__right_arrow{
    @extend %flex;
  }
  &-colored{
  }
  &-transparent{
  }
  &-frameless{
  }
}