@use 'sass:map';
@import '../global_mixins/global_mixins';

.list{
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  &__title{
    @extend %flex-justify-between;
  }
  &__drop{
    @extend %flex;
    flex-direction: column;
    align-items: flex-start;
  }
}