@use 'sass:map';
@import '../global_mixins/global_mixins';

.list{
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  &__title{
    @extend %flex-justify-between;
  }
  &__drop{
    @extend %flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    position: absolute;
    z-index: 300;
  }
  &:hover, &:focus{
    & .list__drop{
      display: flex;
    }
  }
}