@use 'sass:map';
@import '../global_mixins/global_mixins';

.container{
  display: flex;
  flex-direction: column;
  &__caption{
    display: flex;
  }
  &__block{
    display: flex;
    flex-direction: column;
  }

}