@use 'sass:map';
$color: (
  'shade-100' : var(--color-shade-100,#1F2041),
  'shade-75' : var(--color-shade-75,rgba(31, 32, 65, 0.75),#1F2041),
  'shade-50' : var(--color-shade-50,rgba(31, 32, 65, 0.5),#1F2041),
  'shade-25' : var(--color-shade-25,rgba(31, 32, 65, 0.25),#1F2041),
  'shade-5' : var(--color-shade-5,rgba(31, 32, 65, 0.05),#1F2041),
  'main' : var(--color-main,#BC9CFF),
  'main_grad' : var(--color-main_grad,#8BA4F9),
  'main-opacity' : var(--color-main-opacity,rgba(188, 156, 255, 0.5)),
  'main_grad-opacity' : var(--color-main_grad-opacity,rgba(139, 164, 249, 0.5)),
  'main-opacity_double' : var(--color-main-opacity_double,rgba(188, 156, 255, 0.25)),
  'main_grad-opacity_double' : var(--color-main_grad-opacity_double,rgba(139, 164, 249, 0.25)),
  'secondary' : var(--color-secondary,#6FCF97), //111 207 151
  'secondary-opacity' : var(--color-secondary-opacity,rgba(111, 207, 151, 0.5)),
  'secondary_grad' : var(--color-secondary_grad,#66D2EA), //102 210 234
  'secondary_grad-opacity' : var(--color-secondary_grad-opacity,rgba(102, 210, 234, 0.5)),
  'happy' : var(--color-happy,#FFE39C),
  'happy_grad' : var(--color-happy_grad,#FFBA9C),
  'sad' : var(--color-sad,#919191),
  'sad_grad' : var(--color-sad_grad,#3D4975),
  'contrast_with_colored' : var(--color-contrast_with_colored,white),
  'background' : var(--color-background,none),
  'under_background' : var(--color-under_background,#E5E5E5)
);
$gradient: (
  'main' : linear-gradient(map.get($color, 'main'), map.get($color, 'main_grad')),
  'main-opacity' : linear-gradient(map.get($color, 'main-opacity'), map.get($color, 'main_grad-opacity')),
  'main-opacity_double' : linear-gradient(map.get($color, 'main-opacity_double'), map.get($color, 'main_grad-opacity_double')),
  'secondary' : linear-gradient(map.get($color, 'secondary'), map.get($color, 'secondary_grad')),
  'secondary-opacity' : linear-gradient(map.get($color, 'secondary-opacity'), map.get($color, 'secondary_grad-opacity')),
  'happy' : linear-gradient(map.get($color, 'happy'), map.get($color, 'happy_grad')),
  'sad' : linear-gradient(map.get($color, 'sad'), map.get($color, 'sad_grad'))
);
$font: (
  'biggest' : var(--font-biggest, bold 24px 'Quicksand', 'Open Sans', sans-serif),
  'big' : var(--font-big, bold 19px 'Quicksand', 'Open Sans', sans-serif),
  'upper' : var(--font-upper, bold 12px 'Montserrat', 'Arial', sans-serif),
  'regular' : var(--font-regular, 14px 'Montserrat', 'Arial', sans-serif),
  'regular_bold' : var(--font-regular_bold, bold 14px 'Montserrat', 'Arial', sans-serif),
);
$timer: (
  'main-slow' : var(--timer-main-slow, 0.8s),
  'main-fast' : var(--timer-main-fast, 0.3s),
  'secondary-slow' : var(--timer-main-slow, 0.5s),
  'secondary-fast' : var(--timer-main-fast, 0.15s),
);

@mixin user_select($value:none) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}

%not_select{
  @include user_select(none);
}
%pointer{
  cursor: pointer;
}
%not_select_and_pointer{
  @extend %not_select;
  @extend %pointer;
}
%flex{
  display: flex;
  align-items: center;
}
%flex-justify-center{
  @extend %flex;
  justify-content: center;
}
%flex-justify-between{
  @extend %flex;
  justify-content: space-between;
}
%flex-justify-around{
  @extend %flex;
  justify-content: space-around;
}
%flex-justify-evenly{
  @extend %flex;
  justify-content: space-evenly;
}
