append styles
  link(rel="stylesheet", href="../../../components/like/like.scss")
append skripts__defer
  //-script(defer src="../../../components/like/like.js")

append mixins
  mixin like(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' like-' + options.mod : ''

    label(class='like' + classes)
      input(class='like__input',type='checkbox',checked=false)
      .like__box
        .like__border_creator
          span(class='like__mark like__mark_unchecked material-icons-outlined ')='favorite_border'
          span(class='like__mark like__mark_checked material-icons-outlined ')='favorite'
          span(class='like__text')='NAN'