@use 'sass:map';
@import '../global_mixins/global_mixins';

.like{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @extend %not_select_and_pointer;

  &__text{
    color: map.get($color, 'shade-25');
    font-size: 10px;
    &::before{
      content: 'favorite_border';
    }
    &::after{
      font: map.get($font, 'regular');
      font-size: 10px;
      content: var(--likes,'0');
    }
  }
  &__box{
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background: map.get($color, 'shade-25');
  }
  &__border_creator{
    margin: 1px;
    padding-left: 5px;
    padding-right: 5px;

    box-sizing: border-box;
    min-width: 39px;
    height: 19px;
    background-color: map.get($color, 'contrast_with_colored');
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__mark {

    &-checked{
      color: map.get($color, 'main');
      display: none;
    }
    &-unchecked{
      color: map.get($color, 'shade-25');
    }
  }
  &__input{
    display: none;
    &:checked{
      + .like__box{
        background: map.get($gradient, 'main');
        & .like__text{
          color: map.get($color, 'main');
          transition: map.get($timer, 'secondary-fast');
          &::before{
            content: 'favorite';
          }
        }
      }
    }
  }
}
