append styles
  link(rel="stylesheet", href="../../../components/rate/rate.scss")

append mixins
  mixin rate(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += ' rate'
      classes += options.mod ? ' rate-' + options.mod : ''

    -
      var temp = 'rate-'
      var rates = [temp+'0',temp+'1',temp+'2',temp+'3',temp+'4',temp+'5']
      var str = ''
      var n = 5
    - for (var x = 0; x <= n; x++)
      -
        str = ''
        for (var i = 1; i <= x; i++)
          str += ' star'
        for (var i = x+1; i <= n; i++)
          str += ' star_border'
      .rate__container(class=classes + ' ' + rates[x])
        span(class=('rate__stars '))=str
