@use 'sass:map';
@import '../global_mixins/global_mixins';

.rate{
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  cursor: pointer;

  //нужно для частичного наложения .rate__zero на первую звёздочку
  position: relative;

  &__gradient_creator{
    background: map.get($gradient, 'main');
    display: inline-flex;
  }
  &__star_b, &__star_f{
    background: white; //важен сам факт установки значения, значение = white независимо от того что тут указано, всегда
    mix-blend-mode: screen; //виновен в этом данный параметр, но без него градиентный текст придётся делать картинками.
  }
  &__radio{
    display: none;
  }

  //стартовое состояние, которое перегружается :checked и :hover
  &__star_b{
    display: none;
  }
  &__star_f{
    display: inline-block;
  }

  // :not добавлен, потому-что без него приходится городить кучу правил
  &__radio:checked:not(:hover){
    //нельзя использовать + т.к. контейнер должен быть после звёздочек,
    //чтобы положение звёздочек отражало положение radio
    & ~ .rate__gradient_creator{
      & .rate__star_f{
        display: none;
      }
      & .rate__star_b{
        display: inline-block;
      }
    }
  }

  &__star_f:hover{
    & + .rate__gradient_creator{
      & .rate__star_f{
        display: none;
      }
      & .rate__star_b{
        display: inline-block;
      }
    }
  }

  &__zero{
    display: inline-block;
    position: absolute;
    height: 0.85em;
    width: 0.35em;
    left: -0.045em;
    z-index: 1;
    &:hover{
      & + .rate__gradient_creator{
        & .rate__star_f{
          display: none;
        }
        & .rate__star_b{
          display: inline-block;
        }
      }
    }
  }
}