@use 'sass:map';
@import '../global_mixins/global_mixins';

.rate{
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  cursor: pointer;

  &__gradient_creator{
    background: map.get($gradient, 'main');
    display: inline-flex;
  }

  & *{
    //border: solid green 3px;
  }

  &__star_b, &__star_f{
    background: white; //важен сам факт установки значения, значение = white независимо от того что тут указано, всегда
    mix-blend-mode: screen; //виновен в этом данный параметр, но без него градиентный текст придётся делать картинками.
  }
  &__radio{
    display: none;
  }

  position: relative;

  &__star_b{
    display: none;
  }
  &__star_f{
    display: inline-block;
  }

  &__radio:checked:not(:hover){
    & ~ .rate__gradient_creator{
      & .rate__star_f{
        display: none;
      }
      & .rate__star_b{
        display: inline-block;
      }
    }
  }

  &__star_f:hover{
    & + .rate__gradient_creator{
      & .rate__star_f{
        display: none;
      }
      & .rate__star_b{
        display: inline-block;
      }
    }
  }

  &__zero{
    display: inline-block;
    //position: absolute;
    height: 1em;
    width: 0.3em;
    //left: -0.1em;
    //z-index: 1;
    border: red solid 1px;
    &:hover{
      & + .rate__gradient_creator{
        & .rate__star_f{
          display: none;
        }
        & .rate__star_b{
          display: inline-block;
        }
      }
    }
  }
}