append styles
  link(rel="stylesheet", href="../../../components/rate/rate.scss")

append mixins
  mixin rate(options)
    if !options
      - options = {}
    -
      let classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' rate-' + options.mod : ''

    span(class='rate ' + classes)
      -
        const n = options.max_rate ? options.max_rate : 5
        let i = 1
      div(class='material-icons rate__0')
      while i <= n
        span(class='material-icons rate__star_b rate__' + i)=('star_border')
        span(class='material-icons rate__star_f rate__' + i++)=('star')

append skripts__after_load
  script(defer src='../../../components/rate/rate.js')