append styles
  link(rel="stylesheet", href="../../../components/rate/rate.scss")

append mixins
  mixin rate(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += ' rate'
      classes += options.mod ? ' rate-' + options.mod : ''

    .rate_container(class=classes)
      - var rates = ['rate-0', 'rate-1', 'rate-2', 'rate-3', 'rate-4', 'rate-5']
      - for (var x = 0; x <= 5; x++)
        span(class=('rate-'+toString(x)))