extends ../../base/base.pug

block header
block title
  title='tests hub'
append main
  nav
    mixin test_linc(name)
      if name
        a(href=`../../../components/${name}/test/test.pug`)=name
        br
    -
      const names = [
        'textfield',
        'datefield',
        'counting',
        'dropdown',
        'radio',
        'checkbox',
        'toggle',
        'like',
        'rate',
        'button',
        'pagination',
        '',
        ]
    each name in names
      +test_linc(name)