extends ../../base/base.pug
include ../../../components/button/button.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/counting/counting.pug
include ../../../components/datefield/datefield.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/dropfield/dropfield.pug
include ../../../components/like/like.pug
include ../../../components/list/list.pug
include ../../../components/pagination/pagination.pug
include ../../../components/radio/radio.pug
include ../../../components/rate/rate.pug
include ../../../components/textfield/textfield.pug
include ../../../components/toggle/toggle.pug
include ../../../components/container/container.pug

append styles
  link(rel='stylesheet', href='form_elements.scss')

append header
block title
  title='Form Elements'
append main
  div(class = 'form_elements')
    div(class = 'form_elements__item_container fields')
      +container({title:'textfield', text:'default'})
        +textfield({type: 'email'})
      +container({title:'textfield', text:'hover/focus'})
        +textfield({mod: 'hover', value: 'This is pretty awesome'})
      +container({title:'dropdown', text:'default'})
        +textfield({arrow: true, value: 'Сколько гостей'})
      +container({title:'masked text field', text:'default'})
        +textfield({placeholder: 'ДД.ММ.ГГГГ'})
      .datefields
        +container({title:'date Dropdown', text:''})
          +datefield({placeholder: 'ДД.ММ.ГГГГ'})
        +container({title:'date Dropdown', text:''})
          +datefield({placeholder: 'ДД.ММ.ГГГГ'})
      +container({title:'filter date dropdown', text:''})
        +datefield({placeholder: 'ДД.ММ.ГГГГ'})
      +container({title:'subscription text field', text:''})
        +datefield({placeholder: 'ДД.ММ.ГГГГ'})

    div(class = 'form_elements__item_container inputs')
      +container({title:'Checkbox Buttons', text:''})
        +checkbox({text:'Завтрак',})
        +checkbox({text:'Можно с питомцами',})
        +checkbox({text:'Можно пригласить гостей (до&nbsp;10&nbsp;человек)',})
      +container({title:'radio Buttons', text:''})
        .radio
          +radio({text:'Мужчина', name:'sex',})
          +radio({text:'Женщина', name:'sex',})
      +container({title:'Toggle', text:''})
        +toggle({text:'Получать спецпредложения', checked: true})
        +toggle({text:'Получать спецпредложения',})
      +container({title:'like Button', text:''})
        .like
          +like({
            count: 2,
          })
          +like({
            count: 12,
            checked: true,
          })
      +container({title:'rate Button', text:''})
        .rate
          +rate({
            count: 4,
            block_class: 'rate0',
          })
          +rate({
            count: 5,
            block_class: 'rate1',
          })

    div(class = 'form_elements__item_container slider_buttons')
      +container({title:'Range Slider', text:'5 000₽ - 10 000₽'})
        .slider='slider'
      +container({title:'buttons', text:''})
        .buttons
          +button({text:'asfegsg', mod:'colored'})
          +button({text:'asfegsg', mod:'colored hover'})
          +button({text:'asfegsg', mod:'transparent'})
          +button({text:'asfegsg', mod:'transparent hover'})
          +button({text:'asfegsg', mod:'frameless'})
          +button({text:'asfegsg', mod:'frameless hover'})
          +button({text:'asfegsg', mod:'colored', arrow:'right', block_class: 'pay'})
      +container({title:'pagination ', text:''})
        +pagination({})
    div(class = 'form_elements__item_container dropfield')
      +container({title:'dropdown', text:'default'})
        +dropfield()
      +container({title:'dropdown', text:'expanded'})
        +dropfield({
          visible: true,
          items: [
            {
              title:'Спальни',
              name:'1',
            },
            {
              title:'Кровати',
              name:'2',
            },
            {
              title:'Ванные комнаты',
              name:'3',
            },
          ],
        })
    div(class = 'form_elements__item_container dropfield_button')
      +container({title:'dropdown', text:''})
        +dropfield({
          buttons: true,
          visible: true,
          items: [
            {
              title:'Взрослые',
              name:'1',
            },
            {
              title:'Дети',
              name:'2',
            },
            {
              title:'Младенцы',
              name:'3',
            },
          ],
        })
    div(class = 'form_elements__item_container dropfield_button_unclear')
      +container({title:'dropdown', text:''})
        +dropfield({
          buttons: true,
          visible: true,
          items: [
            {
              title:'Взрослые',
              name:'1',
            },
            {
              title:'Дети',
              name:'2',
            },
            {
              title:'Младенцы',
              name:'3',
            },
          ],
        })
    div(class = 'form_elements__item_container checkbox_list')
      +list({
        title: 'expandable checkbox list',
        arrow: true,
      })
      +list({
        title: 'expandable checkbox list',
        arrow: true,
        items:[
          {
            text:'Завтрак',
            name:'1',
          },
          {
            text:'Письменный стол',
            name:'2',
          },
          {
            text:'Стул для кормления',
            name:'3',
          },
          {
            text:'Кроватка ',
            name:'4',
          },
          {
            text:'Телевизор ',
            name:'4',
          },
          {
            text:'Шампунь ',
            name:'4',
          },
        ],
      })
    div(class = 'form_elements__item_container rich_checkbox')
      +list({
        title: 'Rich Checkbox Buttons',
        mod: 'visible',
        items:[
          {
            title:'Широкий коридор',
            text:'Ширина коридоров в номере не&nbsp;менее&nbsp;91&nbsp;см.',
            name:'1',
          },
          {
            title:'Помощник для инвалидов',
            text:'На 1 этаже вас встретит специалист и&nbsp;проводит до номера.',
            name:'2',
          },
        ],
      })
    div(class = 'form_elements__item_container bullet_lists')
      +list({
        title: 'Bullet list',
        mod: 'list',
        items:[
          {
            text:'Нельзя с питомцами',
            name:'1',
          },
          {
            text:'Без вечеринок и мероприятий',
            name:'2',
          },
          {
            text:'Время прибытия — после 13:00, а&nbsp;выезд до 12:00',
            name:'3',
          },
        ],
      })
    div(class = 'form_elements__item_container picts')='пикчи'
    div(class = 'form_elements__item_container komment')='коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент коммент'