@use 'sass:map';
@import '../global_mixins/global_mixins';

.dropfield{
  @extend %flex;
  flex-direction: column;
  align-items: stretch;

  &:hover > &__drop, &__field:focus + &__drop{
    display: inline-flex;
  }
}