@use 'sass:map';
@import '../global_mixins/global_mixins';

.dropfield{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-width: 266px;
  &__hidebele_container{
    box-sizing: border-box;
    display: none;
    position: relative;
  }
  &:hover > &__hidebele_container, &__field:focus + &__hidebele_container{
    display: flex;
  }
  &:hover > &__hidebele_container > &__drop{
    z-index: 2;
  }
}
