extends ../../../pages/base/base_test.pug

include ../toggle.pug

block header
block title
  title='test toggle'
append main
  mixin test(options)
    +base_test__test('toggle',options)

  +test()
  +test({})