append styles
  link(rel="stylesheet", href="../../../components/text_field/text_field.scss")

append mixins
  mixin text_field(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' text_field-' + options.mod : ''

    label.text_field(class=classes)
      input(class='text_field__input', type=(options.type ? options.type : 'text'))
      if !options.mod||options.mod=='arrow'
        span(class='text_field__arrow')='arrow_forward'