@use 'sass:map';
@import '../global_mixins/global_mixins';

.text_field{
  font: map.get($font, 'regular');
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__input {
    font: map.get($font, 'regular');
    padding: 0.929em 1.071em;
    border: 1px solid map.get($color, 'shade-25');
    border-radius: 4px;
    color: map.get($color, 'shade-25');
    &:hover, &:focus{
      border-color: map.get($color, 'shade-50');
      color: map.get($color, 'shade-75');
    }
  }
  &__arrow{
    @extend %not_select_and_pointer;

    font: map.get($font, 'material');
    font-size: 2em;
    color: map.get($color, 'main');
    position: absolute;
    right: 0.3em;
  }
}