block mixins

doctype html
html(lang='ru')
  head
    meta(charset = 'utf-8')

    block title
    block skripts__inline_before_load
    block skripts__sinc_before_load
    block skripts__defer
    block styles
      link(rel='stylesheet', href='../base/variables.scss')
      link(rel='stylesheet', href='../base/style.scss')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Material+Icons+Outlined')

  body
    header
      block header
      block skripts__asinc_after_load_header
    main
      block main
      block skripts__asinc_after_load_main
