
h1, .h1, .font-biggest{
  font: var(--font-biggest, bold 24px/125% 'Quicksand', 'Open Sans', sans-serif);
}
h2, .h2, .font-big{
  font: var(--font-big, bold 19px/126.3157895% 'Quicksand', 'Open Sans', sans-serif);
}
h3, .h3 , .font-upper{
  font: var(--font-upper, bold 12px/125% 'Montserrat', 'Arial', sans-serif);
  text-transform: uppercase;
}
body, .body, .font-regular{
  font: var(--font-regular, 14px/171.4285714% 'Montserrat', 'Arial', sans-serif);
}
.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}