*{
  background-color: var(--background_color, none, white);
}

h1, .h1 {
  font: var(--font-biggest);
}
h2, .h2 {
  font: var(--font-big);
}
h3, .h3 {
  font: var(--font-upper);
  text-transform: uppercase;
}
body, .body {
  font: var(--font-regular, 14px/171.4285714% 'Montserrat', 'Arial', sans-serif);
}