:root {


}

.button {
  --button-width: 400px;
  --button-height: 200px;

  border: solid #BC9CFF 1px;
  border-radius: calc(var(--button-height)/2);
  width: var(--button-width);
  height: var(--button-height);
  color: #BC9CFF;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  line-height: var(--button-height);
  text-decoration: none;
}
.button_colored{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}