extends ../base/base.pug
include ../../../components/button/button.pug
include ../../../components/rate/rate.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like/like.pug
include ../../../components/pagination/pagination.pug
include ../../../components/text_field/text_field.pug

append styles
  link(rel='stylesheet', href='cards.scss')

append header
append main

  - const types = ['date','email','']
  each typ in types
    +text_field({type:typ})

  br

  +rate({block_class:'set_rate-three'})

  br

  span(class='test')
    -
      let i = 1
      const n = 6
    .test__rate-0
    while i <= n
      span(class='test__border test__rate-' + i)=('x')
      span(class='test__star test__rate-' + i++)=('o')
