extends ../base/base.pug
include ../../../components/button/button.pug
include ../../../components/rate/rate.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like/like.pug
include ../../../components/pagination/pagination.pug
include ../../../components/text_field/text_field.pug

append mixins
  mixin test(r,i=1)
    -let name = 'test';
    span(class=(name + i))
      span(class='star')=('o' + i)
      span(class=(name + '-' + i))
        -if (i<r)
          +test(r,(i+1))
        span(class='border')=('x' + i)

append styles
  link(rel='stylesheet', href='cards.scss')

append header
append main

  - var types = ['date','email','']
  each typ in types
    +text_field({type:typ})

  br

  +rate({block_class:'set_rate-three'})

  br

  .test
    +test(4)
