extends ../base/base.pug
include ../../../components/button/button_a.pug

append styles
  link(rel="stylesheet", href="cards.scss")

append main
  h1 qwerty
append header
  .kek ander
append main
  h2 asdfgh

  -
    var list = ["colored", "transparent", "frameless"]
    var arrows = ['left','all','right','none']
  each mod in list
    each arrow in arrows
      +button_a({mod:mod,arrow:arrow,block_class:"button-tra"})
