extends ../base/base.pug
include ../../../components/button/button.pug
include ../../../components/rate/rate.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like/like.pug
include ../../../components/pagination/pagination.pug
include ../../../components/textfield/textfield.pug
include ../../../components/datefield/datefield.pug

append styles
  link(rel='stylesheet', href='cards.scss')

append header
append main

  +datefield()

  br
  br

  +textfield()

  br
  br
  br


  +rate({block_class:'rate-settings'})

  br
  br

  +button({block_class:'button-settings'})
  br
  br

  +checkbox({block_class:'checkbox-settings'})
  br
  br

  +radio({block_class:'radio-settings'})
  span=' '
  +radio({block_class:'radio-settings'})
  br
  br

  +toggle({block_class:'toggle-settings'})
  br
  br

  +like({block_class:'like-settings'})
  br
  br

  +pagination({block_class:'pagination-settings'})