.button-tra{
  width: 200px;
}
.flexcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.set_rate-three{
  --rate-3 : inline-block;
  --rate-1 : none;



}