@use 'sass:map';
@import '../../../components/global_mixins/global_mixins';

.rate-settings{
  width: auto;
  height: auto;
}
.button-settings{
  width: auto;
  height: auto;
}
.checkbox-settings{
  width: auto;
  height: auto;
}
.radio-settings{
  width: auto;
  height: auto;
}
.toggle-settings{
  width: auto;
  height: auto;
}
.like-settings{
  width: auto;
  height: auto;
}
.pagination-settings{
  width: auto;
  height: auto;
}