extends ../base/base.pug
include ../../../components/button/button.pug
include ../../../components/rate/rate.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/radio/radio.pug




append styles
  link(rel='stylesheet', href='cards.scss')

append header
append main



  +radio(name='something')
  +radio(name='something')
  br

  +checkbox()
  br

  +rate({block_class:'set_rate-3_5'})
  -
    var texts = ['', 'yf']
    var list = ['colored', 'transparent', 'frameless']
    var arrows = ['left','all','right','none']
  .flexcontainer
    +button({block_class:'button-tra',type:'submit'})
    each text in texts
      each mod in list
        each arrow in arrows
          +button({mod:mod,arrow:arrow,block_class:'button-tra',text:text})