.button-tra{
  width: 200px;
}
.flexcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.set_rate-three{
  //inline-block inherit initial

  --rate-0 : unset;
  --rate-1 : unset;
  --rate-2 : unset;
  --rate-3 : inline-block;
  --rate-4 : unset;
  --rate-5 : unset;
}
