extends ../base/base.pug
include ../../../components/button/button.pug
include ../../../components/rate/rate.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/radio/radio.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like/like.pug
include ../../../components/pagination/pagination.pug
include ../../../components/text_field/text_field.pug



append styles
  link(rel='stylesheet', href='cards.scss')

append header
append main

  - var types = ['date','email','']
  each typ in types
    +text_field({type:typ})

  br

  +rate({block_class:'set_rate-three'})
