@use 'sass:map';
@import '../global_mixins/global_mixins';

.checkbox{
  @extend %not_select_and_pointer;
  display: flex;
  align-items: baseline;
  color: map.get($color, 'shade-50');
  line-height: 18px;
  &__text_container{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
  }
  &__text{
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  &__title {
    color: map.get($color, 'shade-75');
    font-weight: bold;
  }

  &__box{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid map.get($color, 'shade-25');
    border-radius: 4px;
    margin-right: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: map.get($timer, 'secondary-slow');
  }
  &__mark {
    box-sizing: border-box;
    width: 6px;
    height: 8px;
    border: solid map.get($color, 'main');
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-image: map.get($gradient, 'main');
    border-image-slice: 1;
    opacity: 0;
    transition: map.get($timer, 'main-slow') opacity;
    position: relative;
    top: -1px;
  }
  &__input{
    display: none;
    &:checked{
      + .checkbox__box{
        border-color: map.get($color, 'main');
        transition: map.get($timer, 'secondary-fast');
        > .checkbox__mark{
          opacity: 1;
          transition: map.get($timer, 'main-fast') opacity;
        }
      }
    }
  }
}
