append styles
  link(rel="stylesheet", href="../../../components/checkbox/checkbox.scss")

append mixins
  mixin checkbox(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' checkbox-' + options.mod : ''

    .checkbox(class=classes)
      label(class='checkbox__container')
        input(class='checkbox__input',type='checkbox',checked=false,value='asd')
        .checkbox__box
          .checkbox__mark
        span(class='checkbox__text')=options.text ? options.text : 'SET text'