@use 'sass:map';
@import '../global_mixins/global_mixins';

.checkbox{
  color: map.get($color, 'shade-50');
  &__container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &__input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkbox__checkmark {
      border-color: map.get($color, 'main');
      &:after {
        display: block;
      }
    }
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: map.get($color, 'contrast_with_colored');
    border: 1px solid map.get($color, 'shade-25');
    box-sizing: border-box;
    border-radius: 4px;

    &:after {
      content: '';
      display: none;
      width: 6px;
      height: 8px;
      border: solid map.get($color, 'main');
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

  }
}