append styles
  link(rel="stylesheet", type="text/css", href="../../../components/textfield/textfield.scss")

append skripts__defer
  script(defer src="../../../components/textfield/textfield.js" type="text/javascript")

append mixins
  mixin textfield(options)
    -
      if (!options)
        options = {}
    -
      options.class = options.class ? options.class : '';
      options.class += ` textfield `;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      options.class += options.mod ? ` textfield-${options.mod} ` : '';
      if (!options.placeholder && (options.mod == 'masked' || options.mod == 'Masked'))
        options.placeholder = 'SET placeholder';
      delete options.mod;

      if (!options.placeholder) {
        switch (options.type) {
          case 'email':
          case 'Email':
            options.placeholder = 'Email';
            break;
          case 'date':
          case 'Date':
            options.placeholder = 'ДД.ММ.ГГГГ';
            break;
        }
      }
      if (!options.type || options.type == 'masked' || options.type == 'Masked')
        options.type = 'text';

    input()&attributes(options)