append styles
  link(rel="stylesheet", type="text/css", href="../../../components/textfield/textfield.scss")

append mixins
  mixin textfield(options = {})
    -
      options.class = options.class ? `textfield ${options.class}` : `textfield `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` textfield-${mod.join(` textfield-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `textfield`;
      delete options.block_class;
      if (!options.value) options.value = options.text ? options.text : '';
      delete options.text;
      options.name = options.name || block_class;

      if (!options.placeholder && (mod.includes('masked') || mod.includes('Masked')) )
        options.placeholder = 'SET placeholder';
      if (!options.placeholder) {
        switch (options.type) {
          case 'email':
          case 'Email':
            options.placeholder = 'Email';
            break;
          case 'date':
          case 'Date':
            options.placeholder = 'ДД.ММ.ГГГГ';
            break;
        }
      }
      if (!options.type || options.type == 'masked' || options.type == 'Masked')
        options.type = 'text';

    input.font-regular()&attributes(options)&attributes(attributes)
