@use 'sass:map';
@import '../global_mixins/global_mixins';

.toggle{
  display: inline-block;
  @extend %not_select_and_pointer;

  &__container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    color: map.get($color, 'shade-50');
    font: map.get($font, 'regular');
  }
  &__box{
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid map.get($color, 'shade-25');
    border-radius: 40px;
    margin-right: 0.5em;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    transition: map.get($timer, 'secondary-slow');
  }
  &__mark {
    user-select: none;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
    background: map.get($color, 'shade-25');
    transition: map.get($timer, 'main-slow');

  }
  &__input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked{
      ~ .toggle__text{

      }
      ~ .toggle__box{
        border-color: map.get($color, 'main');
        transition: map.get($timer, 'secondary-fast');
        justify-content: flex-end;
        .toggle__mark{
          background: map.get($gradient, 'main');
          transition: map.get($timer, 'main-fast');
        }
      }
    }
  }
}