append styles
  link(rel="stylesheet", href="../../../components/toggle/toggle.scss")

append mixins
  mixin toggle(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' toggle-' + options.mod : ''

    label(class='toggle' + classes)
      input(class='toggle__input',type='checkbox',checked=false)
      //-нужно т.к. точка с градиентом
      .toggle__box
        .toggle__mark
      span(class='toggle__text')=options.text ? options.text : 'SET text'